<div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1>Origins</h1>
            </li>
        </ul>

        <section class="top-bar-section">
            <ul class="left">
                <li>
                    <a href="#">Background</a>
                </li>
            </ul>
        </section>
    </nav>
</div>

<map zoom="2" center="[20, 0]" disable-default-u-i="true">
    <marker
        ng-repeat="marker in markers"
        position="{{ marker.location.position }}"
        title="{{ marker.brand }}"
        animation="Animation.DROP"
        on-click="showInfoWindow(event, 'marker-info', {data: marker})"
    ></marker>

    <info-window id="marker-info">
        <h3>[[data.brand]]</h3>

        <span class="label secondary rounded">
            Made in [[data.location.country]]
        </span>

        <p>
            <small style="line-height: 1em">
                Origin of "made in" derived from [[data.collection.name]]
                with the approximate price of [[data.collection.price]] EUR.
            </small>
        </p>
    </info-window>
</map>

<div class="row">
    <div class="large-12 columns">
        <h2>Why?</h2>

        <p>

        </p>
    </div>
</div>